/* COLORS*/
$main-dark: #001B2E;
$main-light: #FBFEF9;
$secondary: #693798;
$accents: #BE97C6;

/*game cards*/
$ratio: 7/10;
$border-radius: 0.5rem;
// Debugging - leave at 1 for intended animation
$animation-mult: 1;
$card-anim-func: ease;
// How fast the card expands
$speed-in: 300ms * $animation-mult;
// How fast the card collapses
$speed-out: 250ms * $animation-mult;
// Gap below cover for title
$bottom-gap: 1.75rem;
// Unfortunately, this has to be manually adjusted for the front
// layer to clear any content. You can also use percentages.
$content-height: 6rem;
$content-gutter: 0.5rem;

/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
}
@mixin border-bottom-animation {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: black;
    }
}
@mixin border-bottom-animation-shrinks-black {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: black;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: black;
    }
}
@mixin buttons {
    .btn {
        display: inline-block;
        background: $secondary;
        color: #fff;
        padding: 0.4rem 1.3rem;
        font-size: 1rem;
        text-align: center;
        border: none;
        cursor: pointer;
        margin-right: 0.5rem;
        transition: opacity 0.2s ease-in;
        outline: none;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
        transition: 0.5s;
        border-radius: 2px;
    }
    
    .btn:hover {
        background-color: $accents;
        border-radius: 12px;
        color: black;
    }
}
@mixin border-bottom-animation-shrinks-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: white;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: white;
    }
}
@mixin border-bottom-animation-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: white;
    }
}

@mixin font-serif-titles($font-size, $font-weight) {
    font-family: 'Roboto Slab', serif;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: 2px;

}
@mixin font-sans-serif-titles($font-weight, $font-size) {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight;
    letter-spacing: 2px;
    font-size: $font-size;
}