/* COLORS*/
$main-dark: #001B2E;
$main-light: #FBFEF9;
$secondary: #8A2BE2;
$accents: #BE97C6;

/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
}
@mixin border-bottom-animation {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: black;
    }
}
@mixin border-bottom-animation-shrinks-black {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: black;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: black;
    }
}
@mixin border-bottom-animation-shrinks-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: white;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 70%;
        background: white;
    }
}
@mixin border-bottom-animation-white {
    li:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    li:hover:after {
        width: 100%;
        background: white;
    }
}
@mixin font-serif-titles($font-size, $font-weight) {
    font-family: 'Roboto Slab', serif;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: 2px;

}
@mixin font-sans-serif-titles($font-weight, $font-size) {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight;
    letter-spacing: 2px;
    font-size: $font-size;
}