@import '_variables';

.collection-container{
    padding: 5rem 4rem;
    @include flex(center, center);
    flex-direction: column;
    h1{
        margin-bottom: 2rem;
    }
    .card-container{
        @include flex(center, center);
        flex-wrap: wrap;
        gap: 1rem;
        background-color: #795f913a;
        border-radius: 15px;
        padding: 1.5rem;
        width: 100%;
    }
}
@media(max-width: 358px) {
    .collection-container{
        padding: 5rem 2rem;
    }
}