@import '_variables';

.game-page-container{
    padding: 5rem 5rem;
    @include flex(center, flex-start);
    .game-img{
        width: 40%;
        margin-right: 2rem;
        height: 85vh;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    .game-info{
        @include flex(space-between, flex-start);
        flex-direction: column;
        gap: 1rem;
        width: 55%;
        text-transform: capitalize;
        div{
            width: 100%;
            h3{
                font-weight: 100;
                color: rgb(174, 172, 172);
                margin-bottom: 0.5rem;
            }
            .consoles{
                display: flex;
                gap: 0.5rem;
                margin: 1rem 0;
                flex-wrap: wrap;
                p{
                    padding: 0.3rem 0.6rem;
                    border-radius: 15px;
                    background-color: $accents;
                    color: black;
                    font-size: 12px;
                }
            }
            .game-reviews{
                @include flex(space-between, flex-start);
                height: 5rem;
                flex-wrap: wrap;
                width: 100%;
                .review{
                    border: 1px solid $accents;
                    text-align: center;
                    max-width: 23.5%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 5px;
                    transition: 0.5s ease-in-out;
                    p{
                        letter-spacing: .1rem;
                        font-weight: 600;
                    }
                }
            }
            .critic-reviews{
                height: 5rem;
                @include flex(space-between, flex-start);
                .critic-review{
                    border: 1px solid $accents;
                    border-radius: 5px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 49%;
                    height: 100%;
                    padding: 0.5rem;
                    div{
                        width: 73%;
                        h3{
                            font-size: 18px;
                        }
                    }
                    img{
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
            .actions{
                display: flex;
                gap: 1rem;
                margin: 1rem 0;
                flex-wrap: wrap;
                button{
                    border-radius: 25px;
                    padding: .5rem .8rem;
                    cursor: pointer;
                    background-color: $secondary;
                    border: none;
                    outline: none;
                    color: $main-light;
                    transition: 0.5s ease-in-out;
                }
                button:hover{
                    background-color: $accents;
                    color: black;
                }
            }
            .summary{
                h2{
                    margin: 1rem 0;
                    font-weight: 400;
                }
                .summary-para{
                    margin-bottom: 1rem;
                    color: rgb(174, 172, 172);
                    line-height: 1.5rem;
                    font-size: 18px;
                }
                .dev{
                    display: flex;
                    width: 100%;
                    @include flex(space-between, center);
                    border-radius: 10px;
                    background-color: #795f913a;
                    div{
                        padding: 1rem;
                    }
                }
            }
            .screenshots{
                border-radius: 10px;
                margin-top: 1rem;
                background-color: #795f913a;
                .mySwiper{
                    border-radius: 10px;
                    img{
                        padding: 1rem;                        
                    }
                }

            }
        }
    }



@media(max-width: 768px) {
    .game-page-container{
        padding: 5rem  1.4rem;
        @include flex(center, flex-start);
        .game-info{
            div{
                .critic-reviews{
                    .critic-review{

                        img{
                            height: 2rem;
                            width: 2rem;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }       
    }
}
@media(max-width: 425px) {
    .game-page-container{
        @include flex(center, center);
        padding: 5rem 0rem;
        flex-direction: column;
        .game-img{
            height: 75vh;
            width: 90%;
            margin: 0 0 1rem 0;
        }
        .game-info{
            gap: 1rem;
            width: 90%;
            h3{
                font-weight: 100;
                color: rgb(174, 172, 172);
                margin-bottom: 0.5rem;
                font-size: 15px;
            }
            p{
                font-size: 12px;
            }
            div{
                .consoles{
                    p{
                        padding: 0.3rem 0.7rem;
                        font-size: 12px;
                    }
                }
                .summary{
                    h2{
                        margin: 1rem 0;
                        font-weight: 400;
                    }
                    .summary-para{
                        line-height: 1.2rem;
                        font-size: 14px;
                    }
                    .dev{
                        display: flex;
                        width: 100%;
                        @include flex(space-between, center);
                        border-radius: 10px;
                        background-color: #795f913a;
                        div{
                            padding: 1rem;
                        }
                    }
                }
            }
            .critic-reviews{
                .critic-review{
                    div{
                        width: 73%;
                        h3{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 320px) {
    .game-page-container{
        .game-info{
            width: 90%;
            .game-reviews{
                .review{
                    h3{
                        font-size: 12px;
                    }
                }
            }
            div{
                .consoles{
                    p{
                        padding: 0.1rem 0.2rem;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}